@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

*,
body {
  font-family: "Pretendard Variable", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  background: linear-gradient(
      217deg,
      rgba(255, 79, 79, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(32, 117, 255, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  /* background-image: url(https://em-content.zobj.net/source/apple/118/white-heavy-check-mark_2705.png),
    linear-gradient(0deg, rgba(34, 117, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  background-size: 50px 50px; */
  height: 100vh;
  overflow: hidden;
  box-sizing: content-box;
}
body.done {
}
.layout {
  position: relative;
  min-width: 800px;
  max-width: 1200px;
  height: 700px;
  box-sizing: content-box;

  margin: 24px auto 120px;
  box-sizing: border-box;
  background-color: #fff9;
  border-radius: 12px;
  box-shadow: 0px 10px 25px #555e;
}

.layout__header {
  /* border: 1px solid black; */
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  background-color: #fffd;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom: 1px solid #0003;
  box-shadow: 0px 5px 8px #aaa3;
  padding: 8px 16px;
  font-family: monospace;
}
.layout__header span {
  display: inline-block;
}
.header__title {
  font-size: 1rem;
  font-weight: 700;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #aaa3;
  height: 60px;
  padding: 0 24px;
  margin-bottom: 12px;
  box-shadow: 0px 5px 8px #aaa3;
  border-bottom: 1px solid #0003;
}
.form label {
  /* position: absolute; */
  margin-right: 12px;
  font-size: 1rem;
  font-weight: 700;
}
.form .input__wrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 58px;
  height: 60px;
}
.form input {
  border-bottom: 1px solid #0005;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: none;
  padding: 4px;
  font-size: 1rem;
  background-color: #fff0;
}
.form input:focus {
  outline: none;
}
.form input#content {
  width: 440px;
  min-width: 240px;
}
.form input#title {
  width: 160px;
  min-width: 120px;
}
.button {
  padding: 6px;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  background-color: #fffa;
  cursor: pointer;
}
.form__button {
  border-radius: 6px;
  padding: 8px;
  min-width: 80px;
  max-width: 160px;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: white;
  background-color: #0005;
}
.form__button:hover {
  background-color: #000a;
}

section {
  margin: 24px;
}

.card-container {
  width: 100%;
  overflow: scroll;
  margin: 16px 0;
}
.card-container__title {
  text-align: start;
  margin: 0 24px;
  font-size: 1.2rem;
  font-weight: 700;
  box-sizing: border-box;
}

.card-carousel {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 180px;
  margin: 0 0 12px;
  gap: 24px;
}

.card {
  position: relative;
  width: 180px;
  /* height: 180px; */
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: start;
  padding: 0 12px;
  box-sizing: border-box;
  /* border: 1px solid black; */
  border-radius: 8px;
  background-color: #ffff;
  box-shadow: 0px 6px 10px #aaaa;
  transition: 0.5s all ease-out;
}
.card:hover {
  /* background-color: #ffff; */
}

.card h2 {
  margin-top: 24px;
  font-size: 0.8rem;
  color: #888;
  font-weight: 500;
  margin-bottom: 20px;
}
.card p {
  font-weight: 650;
  line-height: 1.5rem;
  word-break: break-all;
  overflow: scroll;
  margin-bottom: 8px;
}
.card span {
  display: block;
  align-self: self-end;
  margin-top: auto;
  margin-bottom: 8px;
  font-size: 0.7rem;
  font-weight: 700;
  color: #aaa;
  visibility: hidden;
}
.card:hover span {
  visibility: visible;
}
.button-container {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  /* flex-direction: column; */
  gap: 8px;
}
.card__button {
  width: 12px;
  height: 12px;
  font-size: 0;
  opacity: 0%;
  border-radius: 100%;
  box-sizing: border-box;
  /* border: 2px solid #eee; */
  background-color: #fff0;
}
.card:hover .card__button {
  opacity: 100%;
}
.card__button-finish {
  /* border: 2px solid #eeea; */
  box-shadow: 0px 2px 4px #aaaa;
}
.card__button-finish:hover {
  background-color: #00b600;
}
.card__button-erase {
  position: relative;
  width: 12px;
  height: 12px;
  box-shadow: 0px 2px 4px #aaaa;
}

.card__button-erase::before {
  content: "";
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 8px;
  height: 8px;
  border-right: 1px solid black;
  transform: translate(-1.2px, -0.6px) rotateZ(45deg);
}
.card__button-erase::after {
  content: "";
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 8px;
  height: 8px;
  border-right: 1px solid black;
  transform: translate(4.55px, -0.6px) rotateZ(135deg);
}
.card__button-erase:hover {
  /* background-image: url("https://www.svgrepo.com/show/493964/delete-1.svg");
  background-size: 22px;
  background-position: center -4.5px; */
  background-color: #fa3c3c;
  box-shadow: 0px 2px 4px #aaaa;
}

.card__button-erase:hover::before,
.card__button-erase:hover::after {
  visibility: visible;
}
