@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

*,
body {
  font-family: "Pretendard Variable", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  background: linear-gradient(
      217deg,
      rgba(255, 79, 79, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(32, 117, 255, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  /* background-image: url(https://em-content.zobj.net/source/apple/118/white-heavy-check-mark_2705.png),
    linear-gradient(0deg, rgba(34, 117, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  background-size: 50px 50px; */
  height: 100vh;
  overflow: hidden;
  box-sizing: content-box;
}
body.done {
}
.layout {
  position: relative;
  min-width: 800px;
  max-width: 1200px;
  height: 700px;
  box-sizing: content-box;
  margin: 24px auto;
  box-sizing: border-box;
  background-color: #fff9;
  border-radius: 12px;
  box-shadow: 0px 10px 25px #555e;
}

.layout__header {
  /* border: 1px solid black; */
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom: 1px solid #0003;
  box-shadow: 0px 5px 8px #aaa3;
  padding: 16px 40px;
  padding-bottom: 10px;
}

.header__title {
  font-size: 2rem;
  font-weight: 700;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #aaa3;
  height: 70px;
  padding: 0 48px;
  margin-bottom: 12px;
  /* margin: 0 24px; */
  /* background-color: #eee; */
  /* border: 0 1px 1px 1px black; */
}
.form label {
  /* position: absolute; */
  margin-right: 12px;
  font-size: 1rem;
  font-weight: 500;
}
.form .input__wrapper {
  flex-shrink: 0;
  gap: 40px;
}
.form input {
  border: none;
  border-radius: 12px;
  padding: 12px;
  min-width: 120px;
  max-width: 300px;
  font-size: 1rem;
}
.form input:focus {
  outline: none;
}
.button {
  padding: 6px;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  background-color: #71f350;
}
.form__button {
  padding: 12px;
  min-width: 120px;
  max-width: 160px;
  font-size: 1rem;
  font-weight: 700;
}

.input__wrapper {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

section {
  margin: 24px;
}

.card-container {
  width: 100%;
  overflow: scroll;
  margin: 16px 0;
}
.card-container__title {
  text-align: start;
  margin: 0 24px;
  font-size: 1.5rem;
  font-weight: 700;
  box-sizing: border-box;
}

.card-carousel {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 180px;
  margin: 0 0 12px;
  gap: 24px;
}

.card {
  position: relative;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 6px 10px #aaaa;
}
.button-container {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  /* flex-direction: column; */
  gap: 8px;
}
.card__button {
  width: 12px;
  height: 12px;
  font-size: 0;
  opacity: 0%;
  border-radius: 100%;
  box-sizing: border-box;
  /* border: 2px solid #eee; */
  background-color: #fff0;
  /* transition: 0.2s all step-end; */
}
.card:hover .card__button {
  opacity: 100%;
}
.card__button-finish {
  /* border: 2px solid #eeea; */
  background-color: #fff0;
  box-shadow: 0px 2px 4px #aaaa;
}
.card__button-finish:hover {
  background-color: #00b600;
}
.card__button-erase {
  width: 12px;
  height: 12px;
  box-shadow: 0px 2px 4px #aaaa;
}
.card__button-erase:hover {
  background-image: url("https://www.svgrepo.com/show/493964/delete-1.svg");
  background-size: 22px;
  background-position: center -4.5px;
  background-color: #fa3c3c;
  box-shadow: 0px 2px 4px #aaaa;
}
